@using HotelManagement.Models
@model Staff

@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="ms-2 mx-2">
	<h1>Create New Staff</h1>
	<form asp-action="Create" method="post" class="mt-3">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="StaffID" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="StaffID" class="form-control" placeholder="Staff ID" />
			</div>
			<span asp-validation-for="StaffID" class="text-danger"></span>
		</div>

		@* <div class="form-group row" style="margin-top: 7px;">
			<label asp-for="AccountID" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="AccountID" class="form-control" placeholder="Account" />
			</div>
			<span asp-validation-for="AccountID" class="text-danger"></span>
		</div> *@


		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="FirstName" class="form-control" placeholder="First Name" />
			</div>
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>

		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="LastName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="LastName" class="form-control" placeholder="Last Name" />
			</div>
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>

		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="Gender" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<label>
					<input type="radio" name="gender" value="male">
					<span>Male</span>
				</label>
				<label>
					<input type="radio" name="gender" value="female">
					<span>Female</span>
				</label>
				<label>
					<input type="radio" name="gender" value="other">
					<span>Other</span>
				</label>
			</div>
			<span asp-validation-for="Gender" class="text-danger"></span>
		</div>

		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="Email" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Email" class="form-control" placeholder="Email" />
			</div>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="Phone" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Phone" class="form-control" placeholder="Phone" />
			</div>
			<span asp-validation-for="Phone" class="text-danger"></span>
		</div>

		<div class="form-group row" style="margin-top: 7px;">
			<label asp-for="Address" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Address" class="form-control" placeholder="Address" />
			</div>
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>

		<div class="form-group row" style="margin-top: 10px;">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">Create</button> |
				<a asp-action="Index" class="btn btn-secondary">Cancel</a>
			</div>
		</div>

	</form>
</div>