@model HotelManagement.Models.Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Create new Category</h2>
    </div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Categories" asp-action="Create" method="post" class="mt-3">
            <div style="margin-top: 7px" class="form-group row">
                <label asp-for="CategoryID" class="col-sm-2 col-form-label">Category ID</label>
                <div class="col-sm-8">
                    <input asp-for="CategoryID" class="form-control" placeholder="Category ID"/>
                </div>
                <span asp-validation-for="CategoryID" class="text-danger col-sm-2"></span>
            </div>
            
            <div style="margin-top: 7px" class="form-group row">
                <label asp-for="TypeName" class="col-sm-2 col-form-label">Type Name</label>
                <div class="col-sm-8">
                    <select asp-for="TypeName" class="form-control" asp-items="@(new SelectList(ViewBag.TypeName))">
                        <option value="">-- Select Type --</option>
                    </select>
                </div>
                <span asp-validation-for="TypeName" class="text-danger col-sm-2"></span>
            </div>

            
            <div style="margin-top: 7px" class="form-group row">
                <label asp-for="Capacity" class="col-sm-2 col-form-label">Capacity</label>
                <div class="col-sm-8">
                    <input asp-for="Capacity" class="form-control" placeholder="Capacity" />
                </div>
                <span asp-validation-for="Capacity" class="text-danger col-sm-2"></span>
            </div>
            
            <div style="margin-top: 7px" class="form-group row">
                <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input asp-for="Price" class="form-control" placeholder="Price" />
                </div>
                <span asp-validation-for="Price" class="text-danger col-sm-2"></span>
            </div>

            <div style="margin-top:10px" class="form-group row">
                <div class="col-sm-8 offset-sm-0">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Categories")'">Back to List</button>
                </div>
            </div>
        </form>
    </div>
</div>