@{
	ViewData["Title"] = "Blank";
}

<div class="container-fluid" style="height:500px">
	<div class="text-center">
		<img src="~/TemplateLayout/AdminPage/img/think.svg" style="max-height: 90px">
		<h4 class="pt-3">We are <b>updating</b>. See you soon!</h4>
	</div>
</div>>

